body {
	border:20px solid #bdc3c7;
	padding:20px;
	max-width: 700px;
	width: 80%;
	margin:20px auto;
	font-family: Source Sans Pro
}

.quote {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px
}

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.post {
	margin-bottom: 20px;
}
h2 {
	color: #2c3e50;
	font-size: 2.0rem ;
}


hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}